*,
*::before,
*::after{
    margin: 0;
    padding: 0;

}
body{
    min-height: 100vh;
    background-color: black;

}
h1{
    color: white;
    text-align: center;
    text-decoration: underline;
}
.parent{
    display: grid;
    text-align: center;
    border: 20px double white;
    border-radius: 10px;
    width: fit-content;
    height: 400px;
    margin-inline: auto;
    margin-block: 50px;

}
.child {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 25px;
    color: #505050;
    background-color: rgb(255, 255, 255);
    border: 2px double red;
    border-radius: 10px;

    &:hover{background-color: rosybrown;}
}

.parent .row {
    width:100%;
    margin: 10px 0 0 0;

}

.parent{
    padding: 10px;
}
.tab{width: 105px;}

.caps, .enter {
    width: 119px;
}
.shift {
    width: 148px;
}

.space {
    width: 450px;
}

.backtick{
        width: 20px;
        margin-left: 2px;
}

.control{
        width:90px;
}


